* {
	color: white;
	font-family: Verdana;
	font-size: 14px;
}

body {
	background: url(wallpaper.jpg) fixed no-repeat;
}

a {
	text-decoration: none;
}
a:hover {
	color: #CCC;
}

input {
	background: #444;
	border: #666 solid 1px;
}

textarea {
	font-size: 12px;
	border: #666 solid 1px;
	background-color: #444;
}

button {
	color: white;
	background: #555;
	border: #777 solid 1px;
}
#logout-button {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
button:hover {
	background: #666;
	border: #888 solid 1px;
}
#logout-button:hover {
	color: #CCC;
}

hr {
	margin: 0;
	padding: 0;
	height: 2px;
	border: none;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 25%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 75%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(25%,rgba(255,255,255,0.4)), color-stop(50%,rgba(255,255,255,1)), color-stop(75%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 25%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.4) 75%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 25%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.4) 75%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 25%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.4) 75%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
	background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 25%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.4) 75%,rgba(255,255,255,0) 100%);
}
#blog-post-separator {
    margin: 20px 0px 0px 50px;
    width: 75%;
}


/* WRAPPERS | SITE LAYOUT */
#wrapper {
	width: 60%;
	min-height: 500px;
	margin: 50px auto;
}
#center-wrapper {
	width: 100%;
	height: 100%;
	
	border-top: #555 2px solid;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 10px 0px 10px 0px;
	border-radius: 10px 0px 10px 0px;

	background: -moz-linear-gradient(top, rgba(32,32,32,1) 0%, rgba(21,21,21,0.95) 25%, rgba(16,16,16,0.85) 50%, rgba(16,16,16,0.8) 75%, rgba(16,16,16,0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,32,32,1)), color-stop(25%,rgba(21,21,21,0.95)), color-stop(50%,rgba(16,16,16,0.85)), color-stop(75%,rgba(16,16,16,0.8)), color-stop(100%,rgba(16,16,16,0.75)));
	background: -webkit-linear-gradient(top, rgba(32,32,32,1) 0%,rgba(21,21,21,0.95) 25%,rgba(16,16,16,0.85) 50%,rgba(16,16,16,0.8) 75%,rgba(16,16,16,0.75) 100%);
	background: -o-linear-gradient(top, rgba(32,32,32,1) 0%,rgba(21,21,21,0.95) 25%,rgba(16,16,16,0.85) 50%,rgba(16,16,16,0.8) 75%,rgba(16,16,16,0.75) 100%);
	background: -ms-linear-gradient(top, rgba(32,32,32,1) 0%,rgba(21,21,21,0.95) 25%,rgba(16,16,16,0.85) 50%,rgba(16,16,16,0.8) 75%,rgba(16,16,16,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202020', endColorstr='#bf101010',GradientType=0 );
	background: linear-gradient(top, rgba(32,32,32,1) 0%,rgba(21,21,21,0.95) 25%,rgba(16,16,16,0.85) 50%,rgba(16,16,16,0.8) 75%,rgba(16,16,16,0.75) 100%);

	-webkit-box-shadow: inset 1px 0px 1px 0px #303030;
	-moz-box-shadow: inset 1px 0px 1px 0px #303030;
	box-shadow: inset 1px 0px 1px 0px #303030;
}
#wrapper-north {
	padding: 10px 0px 10px 0px;
}
#wrapper-west {
	/*width: 20%;
	height: 100%;
	float: left;*/
}
#wrapper-center {
	width: 70%;
	height: 100%;
	margin: 0px 0px 50px 0px;
	float: left;
}
#wrapper-east {
	width: 30%;
	height: 100%;
	float: right;
}
#wrapper-south {
	width: 100%;
}


/* NORTH AREA: TITLE + NAVIGATION BAR */
#blog-title {
	display: block;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
#nav-bar-content {
	margin: 30px 0px 0px 0px;
}
#nav-bar-content ul {
	list-style: none;
	margin: 0px 0px 0px 10%;
	padding: 0;
}
#nav-bar-content li {
	float: left;
	font-size: 16px;
	display: inline;
	padding: .2em 1em;
}
#nav-bar-createblog {
	float: right !important;
	margin: 0px 10% 0px 0px;
}


/* BLOG POST */
#blog-post-content-box {
	margin: 40px 50px 0px 50px;
}
#blog-post-title {
	font-size: 22px;
	font-weight: bold;
}
#blog-post-date {
	font-size: 12px;
}
#blog-post-content {
	text-align: justify;
}
#blog-post-author {
	font-size: 12px;
}


/* BLOG POST COMMENTS */
#comments-box {
    margin: 0px 0px 0px 50px;
}
#comments-title {
    font-size: 16px;
    font-weight: bold;
}
div.comment-box {
    margin: 0px 0px 0px 0px;
    width: 50%;
}
p.comment-user {
    font-size: 14px;
}
p.comment-text {
    font-size: 14px;
}
p.comment-date {
    font-size: 10px;
}


/* BLOG POST COMMENT FORM */
#comment-form-box{
	margin: 0px 0px 0px 50px;
	padding: 0;
        line-height: 30px;
}
#comment-form-title {
	font-size: 16px;
	font-weight: bold;
}
#comment-form-textarea {
	width: 300px;
	height: 100px;
}


/* BLOG LIST */
#blog-list-box {
	margin: 0px 0px 0px 50px;
}
#blog-list-box a {
	line-height: 30px;
}


/* BLOG POST LIST */
#blogpost-list-box {
	margin: 40px 0px 0px 40px;
	line-height: 30px;
	
}
#blogpost-list-title {
	font-size: 22px;
	font-weight: bold;
}


/* LOGIN FORM */
#login-form-box {
	margin: 40px 0px 0px 50px;
	padding: 0;
	line-height: 30px;
	width: 33%;
}
#login-form-title {
	font-size: 20px;
	font-weight: bold;
}
#login-form-text-box {
	float: left;
}
#login-form-input-box {
	float: right;
}


/* DATABASE LOGIN FORM */
#dbtlogin-form-box {
	margin: 40px 0px 0px 50px;
	padding: 0;
	line-height: 30px;
	width: 60%;
}
#dbtlogin-form-title {
	font-size: 20px;
	font-weight: bold;
}


/* REGISTER FORM */
#register-form-box {
	margin: 40px 0px 0px 50px;
	padding: 0;
	line-height: 30px;
	width: 33%;
}
#register-form-title {
	font-size: 20px;
	font-weight: bold;
}
#register-form-text-box {
	float: left;
}
#register-form-input-box {
	float: right;
}


/* CREATE BLOG FORM */
#createblog-form-box {
	margin: 40px 0px 0px 50px;
	padding: 0;
	line-height: 30px;
	width: 33%;
}
#createblog-form-title {
	font-size: 20px;
	font-weight: bold;
}


/* CREATE BLOG POST */
#blogpost-form-box {
	margin: 40px 0px 0px 50px;
	padding: 0;
	line-height: 30px;
	width: 50%;
}
#blogpost-form-title {
	font-size: 20px;
	font-weight: bold;
}
#blogpost-form-headline-input {
	width: 304px;
}
#blogpost-form-textarea {
	width: 300px;
	height: 200px;
}


/* CONTENT PAGE TITLE */
h1.content-page-title {
	margin: 40px 0px 30px 50px;
	font-size: 20px;
	font-weight: bold;
}


/* CONTENT MESSAGES */
p.content-msg {
	margin: 0px 0px 0px 50px;
}


/* FORM ERROR MESSAGES */
p.error-msg {
	margin: 0px 0px 0px 50px;
}


/* FOOTER */
#footer-content {
	font-size: 12px;
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 0;
}


/* FLOAT CLEAR */
div.clear {
	clear: both;
}
